@charset "utf-8";

#wrapper {
    background-color: gainsboro;
    width: 640px;
    margin: auto;
}

#siteTitle {
    background-color: silver;
    text-align: center;
    width: 480px;
    margin: auto;
}
